/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  /* Estilos para los filtros */
  .filtros {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .filtros input, .filtros select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
  }
  
  /* Estilos para la lista de productos */
  #listaProductos {
    list-style: none;
    padding: 0;
  }
  
  #listaProductos li {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5rem;
  }
  
  #listaProductos li span {
    font-size: 18px;
    color: #333;
  }
  
  #listaProductos li .categoria {
    font-size: 14px;
    color: #777;
    background-color: #e0e0e0;
    padding: 5px 10px;
    border-radius: 3px;
  }